body{
    font-family: sans-serif;
    background-color: #a1e2e2;
}
form{
    background: #655965;
    width: 0px;
    margin: 8% auto;
    padding: 50px 0;
    text-align: center;
    box-shadow: 2px 10px 18px black;
    transform: rotate(90deg);
    animation: rotate 1s ease-in 0.1s forwards;
}
form .image-box{
    width: 80%;
    margin: 30px auto;
    position: relative;
    box-shadow: 2px 10px 18px black;
    opacity: 0;
    animation: opacity 1s ease-in 0.1s forwards;
}
form .image-box input{
    width: 100%;
    border: none;
    height: 40px;
    background: #efefef;
    padding-left: 50px;
    box-sizing: border-box;
}

span{
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    background: linear-gradient(to right,#4CAF50,#00BCD4);
}
span i{
    padding: 14px;
    color: #fff;
}
button{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 14px;
    border: none;
    font-size: 18px;
    font-weight:600;
    background: linear-gradient(to right,#4CAF50,#00BCD4);
    opacity: 0;
    animation: opacity 1s ease-in 0.1s forwards;
}
button i{
    margin-right: 10px;
}
form img{
    width: 100px;
    margin-top: -100px;
    border-radius: 50%;
    opacity: 0;
    animation: opacity 1s ease-in 0.1s forwards;
}
.password-strength-indicator{
    font-size: 12px;
    display: inline-block;
    height: 15px;
    text-align: center;
    min-width: 20%;
    margin: 50px 0;
    transition: 0,5s;
    color: #fff;
    padding: 5px;
}
.password-strength-indicator.very-weak{
   background: red;
   width: 20%;
}
.password-strength-indicator.weak{
    background: rgb(157, 55, 55);
    width: 40%;
 }
 .password-strength-indicator.mediocre{
    background: rgb(177, 177, 74);
    width: 60%;
 }
 .password-strength-indicator.strong{
    background: rgb(55, 158, 74);
    width: 80%;
 }

 .password-strength-indicator.very-strong{
    background: rgb(57, 53, 158);
    width: 100%;
 }

@keyframes rotate {
    100%{
        transform: rotate(360deg);
        width: 500px;
        border-radius: 14px;
    }
}
@keyframes opacity {
    100%{
        opacity: 1;
    }
}

